In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
With the use of '#' we can comment in python.
In python there are two types of comments in python
1) Single line comment
When comment is no longer than a line then this comment we can use.
Example # This is single line comment
2) Multiple line comment
When we want to comment in multiple lines then this type of comment we can use.
Example """ This is multiple line comment
first line...............................
second line...............................
Third line...............................
Forth line...............................
and so on. ""

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
Variables are containers for storing the data.
With the use of assignment operator we can declare and assign values to variables.
Example :-

name = "values"

here name is name of variable and values is valaue assigned to this name variable.

In [ ]:
Q3. How do you convert one data type to another in Python?

In [ ]:
With the use of conversion function we can convert one data type to another

int() converts value to integer
float() converts value to float
str() coverts value to string
bool() converts value to boolean

In [3]:
#Example string to int convertor

age = "22"
new_age = int(age)
print(new_age)

22

In [4]:
#Example string to int convertor

age = "22"
new_age = int(age)
print(new_age)

22.0

In [15]:
#Example int to string convertor

age = 22
new_age = str(age)
type(new_age)

str

In [17]:
#Example boolean to integer convertor

age = True
new_age = int(age)
print(new_age)

1

In [ ]:
Q4. How do you write and execute a Python script from the command line?

In [ ]:
To write and execute a Python script from the command line

1. Open a text editor and create a new file.

2. Write your Python code in the text editor and save the file with a `.py` extension.
3. Open the command line or terminal on your operating system.

4. you can execute the Python script by typing `python` followed by the name of your script file. For example:

   python script.py

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [2]:
my_list = [1,2,3,4,5]

my_list[1:3]

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [ ]:
Complex number is a combination of real and imaginary nambers
example :-
3+5i
here 3 is real number and 5i is imaginary.
In python it is represented as it is there is only a miner chaange in python we use j instant of i.

In [4]:
a = 3 + 4j

In [5]:
type(a)

complex

In [ ]:
Q.7 What is the correct way to declare a variable named age and assign the value 25 to it?

In [12]:
a = 25

In [13]:
a

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [15]:
price = 9.99

In [16]:
price

9.99

In [17]:
type(price)

float

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [18]:
name = "Faizan Shaikh"
print(name)

Faizan Shaikh

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [26]:
Title = "Hello, World"

In [28]:
Title[7:12]

'World'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [ ]:
is_student = True